.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}


.note{
    font-size: 15 px;
    color: black;
}

body{
    background-size: cover;
    
}

.div_song{
    float: none;
}

body{
    background-size: contain;
}


